[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extern/Vulkan-Loader"]
	path = extern/Vulkan-Loader
	url = https://github.com/KhronosGroup/Vulkan-Loader.git
[submodule "extern/Vulkan-Headers"]
	path = extern/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "extern/Vulkan-ValidationLayers"]
	path = extern/Vulkan-ValidationLayers
	url = https://github.com/KhronosGroup/Vulkan-ValidationLayers.git
[submodule "extern/Vulkan-Tools"]
	path = extern/Vulkan-Tools
	url = https://github.com/KhronosGroup/Vulkan-Tools.git
[submodule "extern/meshoptimizer"]
	path = extern/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "extern/boost"]
	path = extern/boost
	url = https://github.com/boostorg/boost.git
[submodule "extern/tiny-process-library"]
	path = extern/tiny-process-library
	url = https://gitlab.com/eidheim/tiny-process-library.git
[submodule "extern/llvm-project"]
	path = extern/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "extern/julia"]
	path = extern/julia
	url = https://github.com/JuliaLang/julia.git
[submodule "extern/cpython"]
	path = extern/cpython
	url = https://github.com/python/cpython.git
